.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.right{
    margin-left: 10px;
    margin-right: auto;
    width: 100%;
}

.row{
    padding-top: 30px;
}

.button{
    padding-top: 20px;
}
